<div class="ky_container">
  <div class="ky_sign-up-container">
    <div class="ky_sign-up-comment">
      회원 가입
    </div>
    <%= form_tag users_path, multipart: true do %>
      <div class="ky_item-container">
        <div class="ky_item">닉네임</div>
        <input type="text" name="nickname" class="ky_input-id" placeholder="10자 이하의 닉네임 입력">
      </div>
      <div class="ky_button-container">
        <input type="button" class="ky_val_btn" value="중복확인" >
      </div>
      <div class="ky_item-container">
        <div class="ky_item">암호</div>
        <input type="password" name="password" class="ky_input-password" placeholder="비밀번호 입력">
      </div>
      <div class="ky_item-container">
        <div class="ky_item">암호확인</div>
        <input type="password" name="password_confirmation" class="ky_input-password-confirmation" placeholder="비밀번호 재확인">
      </div>
      <div class="ky_item-container">
        <div class="ky_item">나이</div>
        <input type="number" min="20" max="35" name="birthday" class="ky_input-date" placeholder="나이를 입력해 주세요(20~35)">
      </div>
      <div class="ky_item-container">
        <div class="ky_item">성별</div>
        <input type="button" name="gen" value="남" class="ky_input-button-1">
        <div class="ky_btn_space"></div>
        <input type="button" name="gen" value="여" class="ky_input-button-2">
        <input type="hidden" name="gender" value="">
      </div>
      <div class="ky_item-container">
        <div class="ky_item">명함 :</div>
          <div class="ky_input-field">
            <input type="file" name="card" id="ky_file" class="ky_inputfile" data-multiple-caption="{count} files selected" multiple />
            <label for="ky_file">
              <div class="ky_label-container">
                <div class="ky_card-container">  
                <div class="ky_file-image"><%= image_tag("ky_card.png", class: "ky_card") %></div>
              </div>  
              <span class="ky_cardment">명함 사진을 선택해 주세요</span>
              <div>이름, 학교, email, H.P를 작성한 이미지를 첨부해주세요! 없으면 인증이 불가능합니다.</div>
            </div>
            </label>
          </div>
      </div>
      <div class="ky_agreement-container">
        <div class="ky_agreement">
          <input type="checkbox" name="check1" class="ky_agreement_check">
          <div class="ky_agreement_state"><a style="color: #000" href="#" onclick="window.open('https://lunchlunch-whehdrms.c9users.io/setting/index','scrollbars=yes width=650, height=700');return false"> [개인 정보 취급 방침]</a> &nbsp;에 동의합니다.</div>
        </div>
        <div class="ky_agreement">
          <input type="checkbox" name="check2" class="ky_agreement_check">
          <div class="ky_agreement_state"><a style="color: #000" href="#" onclick="window.open('https://lunchlunch-whehdrms.c9users.io/setting/index','scrollbars=yes width=650, height=700');return false">[서비스 이용약관]</a> &nbsp;에 동의합니다.</div>
        </div>
        <div class="ky_agreement">
          <input type="checkbox" name="check3" class="ky_agreement_check">
          <div class="ky_agreement_state"><a style="color: #000" href="#" onclick="window.open('https://lunchlunch-whehdrms.c9users.io/setting/index','scrollbars=yes width=650, height=700');return false">[위치정보 이용약관]</a> &nbsp;에 동의합니다.</div>
        </div>
      </div>
      <div class="ky_next-container">
        <input type="submit" value="완료" class="ky_next" >
      </div>
    <% end %>
  </div>
</div>

<script>
  //id 확인 JS
  $('.ky_val_btn').on('click', function (){
    console.log('start')
    $.ajax({
      url: "/users/validate",
      method: "POST",
      data: {"nickname": $('input[name=nickname]').val(), "authenticity_token" : $("input[name=authenticity_token]").val()}
    });
    console.log('end')
    return false;
  });

  var verified = undefined;
  //제출 양식
  $('.ky_next').on('click', function() {
    console.log('가입 심사 시작');

    var nickname = $('.ky_input-id').val();
    var check = verified;
    var veri = null;
    if(check == undefined) veri = false;
    else veri = verified;
     var password1 = $('input[name=password]').val();
    var password2 = $('input[name=password_confirmation]').val();
    var age = $('.ky_input-date').val();
    var gender = $('.ky_input-button-3').val();
    var card = $('.ky_inputfile').val();
    var agree = $(".ky_agreement_check:checked").length;

    if(nickname == "") {
      alert('닉네임을 입력하세요.');
      return false;
    }
    else if(nickname.length > 10) {
      alert('닉네임이 너무 깁니다.');
      return false;
    }
    else if(!veri) {
        alert('닉네임 중복확인을 해주세요.');
        return false;
      }
    else if(password1 == "") {
        alert('비밀번호를 입력하세요.');
        return false;
      }
    else if(password1.length < 6) {
        alert('6자 이상의 비밀번호를 입력하세요.');
        return false;
    }
    else if(password2 == "") {
        alert('비밀번호 확인을 입력하세요.');
        return false;
      }
    else if(password1 != password2) {
         alert('입력된 비밀번호들이 다릅니다.');
         return false;
       }
    else if(age == "") {
        alert('나이를 입력하세요.');
        return false;
      }
    else if(gender == undefined) {
        alert('성별을 입력하세요.');
        return false;
      }
    else if(card == "") {
         alert('명함 사진을 넣어주세요.');
         return false;
       }
    else if(agree != 3) {
        alert('약관 동의를 체크해주세요.');
        return false;
      }
    else {
      alert('가입 신청이 완료 되었습니다. 수작업으로 명함을 보고 명함 속 메일로 인증링크를 보내드립니다.');
      $('input[name=gender]').val($('input.ky_input-button-3').val())
      // location.replace('/')
    }
  });

  //남녀 선택 JS
  $(".ky_input-button-1").on('click', function(){
    console.log('Click')
    if(!$(this).hasClass("ky_input-button-3")) {
      $(this).addClass("ky_input-button-3");
      $(".ky_input-button-2").removeClass("ky_input-button-3");
    } else {
      $(this).removeClass("ky_input-button-3");
    }

    return false;
  });

  $(".ky_input-button-2").on('click', function(){
    console.log('Click')
    if(!$(this).hasClass("ky_input-button-3")) {
      $(this).addClass("ky_input-button-3");
      $(".ky_input-button-1").removeClass("ky_input-button-3");
    } else {
      $(this).removeClass("ky_input-button-3");
    }

    return false;
  });

'use strict';

;( function ( document, window, index )
{
  var inputs = document.querySelectorAll( '.ky_inputfile' );
  Array.prototype.forEach.call( inputs, function( input )
  {
    var label   = input.nextElementSibling,
      labelVal = label.innerHTML;

    input.addEventListener( 'change', function( e )
    {
      var fileName = '';
      if( this.files && this.files.length > 1 )
        fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
      else
        fileName = e.target.value.split( '\\' ).pop();

      if( fileName )
        label.querySelector( 'span' ).innerHTML = fileName;
      else
        label.innerHTML = labelVal;
    });

    // Firefox bug fix
    input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
    input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });
  });
}( document, window, 0 ));

</script>
