// Place all the styles related to the find controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ks_find {
    
    margin-top: 108px;
     display: flex;
  justify-content: center;
  align-items: center;
}

.ks_find2 {
    margin-top: 30px;
    width: 388px;
  		    min-height: 450px;
  		    border-radius: 11px;
  		    background-color: #ffffff;
  		    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.49);
}

#ks_nick {
    margin-top: 40px;
    margin-left: 30px;
}


/* tab */
.ks_tab2 {
    width: 300px;
    height: 65px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 11px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.35);
}

/* buttons inside the tab */
.ks_tab2 button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px 16px;
    transition: 0.3s;
    margin-left: 40px;
    margin-top: 10px;
    font-size: 14px;
  line-height: 1.25;
  text-align: left;
  color: #4a4a4a;
}

/* background color of buttons on hover */
.ks_tab2 button:hover {
    border-bottom: #000 solid 6px;
}

/* Create an active/current tablink class */
.ks_tab2 button.active {
    border-bottom: #000 solid 6px;
}

/* tab content */
.ks_tabcontent2 {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    display: none;
    padding: 6px 12px;
    border-top: none;
    
}

.ks_findtext {
    font-size: 13px;
    line-height: 1.6;
}

input.ks_email{    float: right;
					width: 220px;
				  	height: 37px;
				  	border-radius: 4px;
				  	background-color: #ffffff;
				  	border: solid 1px #fc5a5a;
				  	margin-bottom: 13px;
				  	display: flex;
					justify-content: center;
					padding-left: 5px;
					
				}

input.ks_submit {    margin-top: 35    px;
					width: 120px;
				  	height: 37px;
				  	border-radius: 4px;
				  	background-color: #fc5a5a;
				  	border: solid 1px #fc5a5a;
				  	display: flex;
				  	color: #ffffff;
					justify-content: center;
				}

.yr_email {
    margin-top: 7px;
    float: left;
}

