.ky_main-container {
	width: 881px;
    height: 879px;
    background-color: #ffffff;
    background-image: url("http://wode.kr/media/ky_path.png");
    background-size: 100% 100%;
    border-radius: 11px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.35);
    position: relative;
    z-index: 1;
    margin-bottom: 80px;
    
    
    

	.ky_unclear-container {
		width:881px;
		height: 879px;
		left: 0px;
		top: 0px;
		position: absolute;
		z-index: 3;
		display: none;
        opacity: 0.7;
		background-color: white;
	}

	.ky_step1 {
			position: absolute;
			z-index: 2;
			left: 125px;
			top: 65px;
			.ky_step1-title {
					width: 229px;
		  		height: 50px;
		  		font-family: NotoSansMonoCJKkr;
		  		font-size: 18px;
		  		line-height: 1.44;
		  		text-align: left;
		  		color: #4a4a4a;
		  		font-weight: bold;
			}

			.ky_step1-content {
				  width: 229px;
		 			height: 100px;
		 			font-family: NotoSansMonoCJKkr;
		 			font-size: 17px;
		 			line-height: 1.44;
		 			text-align: left;
		 			color: #4a4a4a;
		 			position: flex;
					justify-content: flex-end;
			}
	}


	.ky_step2 {
			position: absolute;
			z-index: 2;
			top: 140px;
			left: 635px;
			.ky_step2-title {
					width: 218px;
					height: 50px;
					font-family: NotoSansMonoCJKkr;
					font-size: 18px;
					line-height: 1.44;
					text-align: left;
					font-weight: bold;
			}
				.ky_step2-content {
				  width: 220px;
				  height: 100px;
		 			font-family: NotoSansMonoCJKkr;
					font-size: 17px;
					line-height: 1.44;
					text-align: left;
					color: #4a4a4a;
			}
	}

	.ky_step3 {
			position: absolute;
			z-index: 2;
			top: 330px;
			left: 120px;

			.ky_step3-title {
					width: 350px;
					height: 50px;
					font-family: NotoSansMonoCJKkr;
					font-size: 18px;
					line-height: 1.44;
					text-align: left;
					font-weight: bold;
			}

			.ky_step3-content {
				  width: 350px;
  				height: 100px;
  				font-family: NotoSansMonoCJKkr;
	 				font-size: 17px;
	 				line-height: 1.44;
	 				text-align: left;
	 				color: #4a4a4a;
			}
		}

	.ky_step4 {
			position: absolute;
			z-index: 2;
			top: 480px;
			left: 420px;

			.ky_step4-title {
				width: 420px;
		 		height: 50px;
		 		font-family: NotoSansMonoCJKkr;
		 		font-size: 18px;
		 		line-height: 1.44;
		 		text-align: left;
		 		font-weight: bold;
			}

			.ky_step4-content {
				  width: 420px;
  				height: 100px;
  				font-family: NotoSansMonoCJKkr;
  				font-size: 17px;
  				line-height: 1.44;
  				text-align: left;
  				color: #4a4a4a;
			}
		}

	.ky_step5 {
			position: absolute;
			z-index: 2;
			top: 700px;
			left: 460px;
			.ky_step5-title {
				width: 100px;
					height: 40px;
					font-family: NotoSansMonoCJKkr;
					font-size: 18px;
					line-height: 1;
					text-align: left;
					font-weight: bold;
						border-bottom: double 5px #fc5a5a;
			}

			.ky_step5-content {
				  width: 229px;
		 			height: 100px;
		 			font-family: NotoSansMonoCJKkr;
		 			font-size: 18px;
		 			line-height: 1.44;
		 			text-align: left;
		 			color: #4a4a4a;
			}
		}
		
		.ky_circle1 {
			width: 30px;
			height: 33px;
			position: absolute;
			z-index: 4;
			left: 200px;
			top: 72px;
			display: none;
			background-color: #fc5a5a;
			border-radius: 50%;
		}

		.ky_circle2 {
			width: 34px;
			height: 39px;
			position: absolute;
			z-index: 4;
			left: 586px;
			top: 134px;
			display: none;
			background-color: #fc5a5a;
			border-radius: 50%;
		}

		.ky_circle3 {
			width: 30px;
			height: 30px;
			position: absolute;
			z-index: 4;
			left: 200px;
			top: 281px;
			display: none;
			background-color: #fc5a5a;
			border-radius: 50%;
		}

		.ky_circle4 {
			width: 30px;
			height: 30px;
			position: absolute;
			z-index: 4;
			left: 690px;
			top: 417px;
			display: none;
			background-color: #fc5a5a;
			border-radius: 50%;
		}

		.ky_circle5 {
			width: 30px;
			height: 35px;
			position: absolute;
			z-index: 4;
			left: 470px;
			top: 700px;
			display: none;
			background-color: #fc5a5a;
			border-radius: 50%;
		}
	}
