    <div class="main-wrapper">
    <div class="ks_wrapper">
    <div class="ks_card1">
        <div class="ks_title"><h2>런치팅 추천식당 <선릉>편!</h2></div>
        <button class="ks_cardtitle"><a href="https://lunchlunch-whehdrms.c9users.io/tips"><div class="ks_list">Tip 목록</div></button></a> 
        <div class="ks_date">2017-08-05  17:41</div>
        <div class="ks_tips1">
    <%= image_tag("ks_card1.png", class: "ks_cardthumb") %>
    <%= image_tag("ks_card2.png", class: "ks_cardthumb") %>
   <button class="ks_cardtitle"><a href="https://lunchlunch-whehdrms.c9users.io/tips"><div class="ks_list">Tip 목록</div></button></a> 
    </div>
    </div>
        
    </div>
    </div>