    <div class="main-wrapper">
    <div class="ks_wrapper">
    <div class="yr_card2">
        <div class="ks_title"><h2>런치팅에서 피해야할 음식 TOP3!</h2></div>
        <button class="ks_cardtitle"><a href="https://lunchlunch-whehdrms.c9users.io/tips"><div class="ks_list">Tip 목록</div></a></button> 
        <div class="ks_date">2017-08-05  17:41</div>
        <div class="yr_tips2">
    <%= image_tag("yr_card_avoid.png", class: "yr_cardthumb") %>
   <button class="yr_cardtitle"><a href="https://lunchlunch-whehdrms.c9users.io/tips"><div class="ks_list">Tip 목록</div></a> </button>
    </div>
    </div>
        
    </div>
    </div>