<div class="hj-mainVideo">
  <div class="hj-videoBox">
    <video src="/videos/main.mp4" autoplay loop muted style="width: 100%;"></video>
  </div>
  <div class="hj-videoGradient"></div>
  <div class="hj-videoCover">
    <div class="hj-coverBox">
      <p class="hj-videoCoverText">삭막한 직장생활</p>
      <p class="hj-videoCoverText">새로운 사람을 만나고 싶으신가요?</p>
      <p class="hj-videoCoverText">단조로운 점심, 설레는 시간으로 바꿔보세요!</p>
      <a href="/groups/new"><button type="button" name="button" class="hj-applyBtn">미팅 신청하기</button></a>
    </div>
  </div>
  <div class="hj-videoGradient"></div>

</div>
