<nav class="ks_nav">
  <div class="ks_wrapper2">
    <a href="/" class="logo_a"><%= image_tag("ks_tran.png", class: "ks_navlogo") %></a>
    <% if !current_page?('https://lunchlunch-whehdrms.c9users.io/') || !current_page?('https://lunchlunch-whehdrms.c9users.io/home/home') %>
      <div class="ks_menu">
        <div><a href="/">홈</a></div>
        <div><a href="/groups/new">신청하기</a></div>
        <div><a href="/users">마이페이지</a></div>
        <div><a href="/tips">팁</a></div>
        <div><a href="/posts">커뮤니티</a></div>
        <div><a href="/setting/index">설정</a></div>
      </div>
    <% end %>
    <% if !current_user.nil? %>
      <div class="ks_login">
        <div><%= current_user.nickname %><br>로그인 상태입니다.</div>
          <a href="/users"><%= image_tag("ks_msgbox.png", class: "ks_msgbox") %></a>
        <div class="ks_logbox2"><%= link_to '로그아웃', session_path(current_user), method: 'delete' %></div>
      </div>
    <% else %>
      <div class="ks_login">
        <div class="ks_logoffmsg">로그인 해주세요.</div>
        <div class="ks_loginbox"><a href="/sessions/new">로그인</a></div>
        <div class="ks_logbox"><a href="/users/new">회원가입</a></div>
      </div>
    <% end %>
  </div>
</nav>
