<div class="hj-mainFooter">
	<div class="hj-footerBox">
		<div class="ks_company">
			<h4 id="ks_widgettitle"> &nbsp; 회사 소개</h4>
			<div class="ks_textwidget">
				<p class="ks_text">
					이름 : DK AWESOME (조동근, 채희재, 김강열, 박경섭, 이예람, 최성은)
				</p>
				<p class="ks_text">
					사업자등록번호 : 501-07-70804
				</p>
				<p class="ks_text">
					통신판매업신고 : 2017-서울성동-0835 &nbsp; &nbsp; <a target="_blank" href="https://www.ftc.go.kr/info/bizinfo/communicationView.jsp?apv_perm_no=2017303010330200836&area1=&area2=&currpage=1&searchKey=04&searchVal=5010770804&stdate=&enddate=">[사업자정보확인]</a>
				</p>
				<p class="ks_text">
					주소 : 서울시 성북구 안암로 145 고려대학교 파이빌 S306
				</p>
				<p class="ks_text">
					문의 : 010-5529-7795 / 개발문의 : 010-3375-4005
				</p>
				<p class="ks_text">
					E-mail : dkawesome@lunchting.com / poongnewga@gmail.com
				</p>
			</div>
		</div>
		<div class="ks_sns">
			<h4 id="ks_widgettitle"> &nbsp; SNS</h4>
			<div class="ks_textwidget">
				<p class="ks_text2">
					<a style="vertical-align: top; position: relative; overflow: hidden;" href="https://pf.kakao.com/_BPCuxl" target="_blank"><img src="https://lunchlunch-whehdrms.c9users.io/images/kakao.png" width="30" height="30"> &nbsp; 카카오톡 플러스친구<span class="image-overlay overlay-type-extern"><span class="image-overlay-inside"></span></span></a>
				</p>
				<p class="ks_text2">
					<a style="vertical-align: top; position: relative; overflow: hidden;" href="https://www.facebook.com/thelunchting" target="_blank"><img src="https://lunchlunch-whehdrms.c9users.io/images/facebook.png" width="30" height="30"> &nbsp; 페이스북<span class="image-overlay overlay-type-extern"><span class="image-overlay-inside"></span></span></a>
				</p>
				<p class="ks_text2">
					<a style="vertical-align: top; position: relative; overflow: hidden;" href="https://www.instagram.com/lunchting" target="_blank"><img src="https://lunchlunch-whehdrms.c9users.io/images/instagram.png" width="30" height="30"> &nbsp; 인스타그램<span class="image-overlay overlay-type-extern"><span class="image-overlay-inside"></span></span></a>
				</p>
			</div>
		</div>
	</div>
</div>
